*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background: white;
}

 a{
    text-decoration: none;
    color: #333;
 }

 ul{
    list-style:none;
 }

 img{
    max-width: 100%;
 }
 h1{
   margin-bottom: 15px;
 }

 /* navbar */

 .navbar{
   background: #a1c3ff;
color: #fff;
height: 60px;
 }

 .navbar a{
   color: #fff;
   text-decoration: none;
   font-size: 18px;
   font-weight: bold;
 }
 .navbar .container{
   display:flex;
   justify-content: space-between;
   align-items: center;
   height: 95%;
 }
 .navbar .main-menu ul{
   display: flex;
 }

 .navbar ul li a {
 padding: 10px 20px;
 display:block;
 font-weight: 600;
 transition: 0.5s;
 }

 .navbar ul li{
   margin-left: 20px;
 }

 .navbar ul li a:hover{
   color: var(#333);
 }

.navbar ul li a i {
   margin-right: 10px;
}

.navbar ul li:last-child a {
   margin-left: 10px;
}

 /* klase */

 .container{
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 15px;

 }
 .container-sm{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
 }

.header{
   background-color: white;
   color:black;
   min-height: 400px;
}

.header h1{
   font-size: 3rem;
   font-weight: bold;
   line-height: 1.2;
}

.header img{
   max-width: 200px;
   max-height: 400px;
}

.header .container{
   display:flex;
   align-items: center;
   justify-content: space-around;
}

.boxes .container{
   display: flex;
   justify-content: space-between;
}
.box{
   flex:1;
   border-radius: 10px;
   margin: 20px 10px;
   box-shadow: 0 3px 5px rgba(red, green, blue, alpha);
   padding: 15px 20px;
}
.table .container{
   display:flex;
   justify-content: space-between;
}
.table table{
   border-collapse: collapse;
   width: 30% ;
   margin: 10px;
}
.table th,td{
   border: 1px solid black;
   padding: 8px;
   text-align: center;
}
.table th {
  background-color: #f2f2f2;
}
/* botuni */

.btn {
   display: inline-block;
   padding: 13px 20px;
   background: var(blue);
   color: #333;
   font-weight: 600;
   text-decoration: none;
   border: none;
   border-radius: 10px;
   cursor: pointer;
   transition: 0.5s;
}

.btn:hover{
   opacity: 0.8;
}

.btn-block {
   display: block;
   width: 100%;
}